/* CSS Code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 10px;
  text-align: center;
}

.container {
  display: block;
  border-radius: 5px;
  border: 3px solid black;
  width: 50%;
  margin: 10px auto;
}

header {
  display: flex;
  justify-content: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  width: 90%;
  height: 55px;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
}

.top-h1 {
  margin-left: 10px;
}

.mylist {
  display: flex;
  justify-content: end;
  padding: 15px;
  gap: 22px;
  list-style: none;
  margin-right: 22px;
  font-size: 20px;
}

.mylist li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.mylist a:hover {
  color: rgb(212, 119, 119);
  font-size: 20px;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.book-title,
.author-name {
  border: 2px solid rgb(226, 126, 226);
  border-radius: 7px;
  padding: 7px;
  margin: 12px;
  background-image: linear-gradient(to left, rgba(226, 133, 266, 0.53), rgba(255, 85, 6, 0.8));
}

hr {
  margin: 10px;
  width: 25%;
}

.new-book {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.add-btn {
  border: 1px solid black;
  padding: 7px;
  border-radius: 7px;
}

.add-book {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.book-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.book-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  width: 100%;
}

.dark-bakcground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: gray;
  width: 100%;
}

button {
  cursor: pointer;
  box-shadow: 3px 3px black;
}

footer {
  width: 90%;
  border-radius: 12px;
  height: 55px;
  margin: 10px;
  position: fixed;
  left: 60px;
  bottom: 25px;
  border: 3px solid black;
  margin-bottom: 10px;
}

footer p {
  padding: 17px;
}

.contact {
  display: none;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
}

.heading {
  margin: 10px;
  width: 80%;
  text-align: center;
}

.contact article p {
  padding: 5px;
  font-size: 20px;
}

.contact ul {
  margin-left: 20px;
}

.books-title {
  display: block;
  text-align: center;
}

.our-date {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 65px;
}
